version: "2.4"

services:
  trunk-recorder:
    build:
      context: .
      dockerfile: trunk-recorder/Dockerfile
    restart: unless-stopped
    privileged: true
    network_mode: host
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - data:/data
    command: ["python3", "/app/monitor.py"]
    environment:
      - SILENCE_SETTING
      - TR_SQUELCH_DB
      - SQUELCH_1
      - SQUELCH_2
      - TR_SIGNAL_THRESHOLD
      - FREQ_1
      - FREQ_2
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f trunk-recorder >/dev/null || exit 1"]
      interval: 45s
      timeout: 10s
      retries: 3
    labels:
      io.balena.features.kernel-modules: '1'
      io.balena.features.firmware: '1'
      io.balena.features.dbus: '1'
      io.balena.features.supervisor-api: '1'

  zellostream_1:
    build:
      context: .
      dockerfile: zellostream/Dockerfile
    restart: unless-stopped
    depends_on:
      - trunk-recorder
    network_mode: host
    volumes:
      - data:/data
    environment:
      - ZELLO_USERNAME=${ZELLO_USERNAME_1}
      - ZELLO_PASSWORD=${ZELLO_PASSWORD_1}
      - ZELLO_CHANNEL=${ZELLO_CHANNEL_1}
      - ZELLO_WORK_ACCOUNT
      - UDP_PORT=9125
      - INPUT_RATE=16000
      - ZELLO_RATE=16000
      - AUDIO_THRESHOLD
      - SILENCE_SETTING
      - MIN_DURATION_MS
    healthcheck:
      disable: true
    labels:
      io.balena.features.dbus: '1'

  zellostream_2:
    build:
      context: .
      dockerfile: zellostream/Dockerfile
    restart: unless-stopped
    depends_on:
      - trunk-recorder
    network_mode: host
    volumes:
      - data:/data
    environment:
      - ZELLO_USERNAME=${ZELLO_USERNAME_2}
      - ZELLO_PASSWORD=${ZELLO_PASSWORD_2}
      - ZELLO_CHANNEL=${ZELLO_CHANNEL_2}
      - ZELLO_WORK_ACCOUNT
      - UDP_PORT=9126
      - INPUT_RATE=16000
      - ZELLO_RATE=16000
      - AUDIO_THRESHOLD
      - SILENCE_SETTING
      - MIN_DURATION_MS
    healthcheck:
      disable: true
    labels:
      io.balena.features.dbus: '1'

volumes:
  data:
