version: "2.4"

services:
  trunk-recorder:
    build:
      context: .
      dockerfile: trunk-recorder/Dockerfile
    restart: unless-stopped
    privileged: true
    network_mode: host
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - data:/data
    command: ["python3", "/app/monitor.py"]
    healthcheck:
      test: ["CMD-SHELL", "pgrep -f trunk-recorder >/dev/null || exit 1"]
      interval: 45s
      timeout: 10s
      retries: 3
    labels:
      io.balena.features.kernel-modules: '1'
      io.balena.features.firmware: '1'
      io.balena.features.dbus: '1'
      io.balena.features.supervisor-api: '1'

  zellostream:
    build:
      context: .
      dockerfile: zellostream/Dockerfile
    restart: unless-stopped
    depends_on:
      - trunk-recorder
    network_mode: host
    volumes:
      - data:/data
    environment:
      # Channel 1 (e.g., Delta)
      - CH1_USERNAME
      - CH1_PASSWORD
      - CH1_CHANNEL
      - CH1_WORK_ACCOUNT
      - CH1_UDP_PORT=9123
      
      # Channel 2 (e.g., Sidney)
      - CH2_USERNAME
      - CH2_PASSWORD
      - CH2_CHANNEL
      - CH2_WORK_ACCOUNT
      - CH2_UDP_PORT=9124

      # Global Settings
      - ZELLO_WORK_ACCOUNT
      - INPUT_RATE=16000
      - ZELLO_RATE=16000
      - AUDIO_THRESHOLD=1000
      - VOX_SILENCE_MS=3000
    healthcheck:
      disable: true
    labels:
      io.balena.features.dbus: '1'

volumes:
  data:
