version: "2.4"

services:
  trunk-recorder:
    build:
      context: .
      dockerfile: trunk-recorder/Dockerfile
    restart: unless-stopped
    privileged: true
    network_mode: host
    devices:
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - data:/data
    command: ["python3", "/app/monitor.py"]
    environment:
      - SILENCE_SETTING
      # Primary Channel
      - FREQ_1
      - ZELLO_CHANNEL_1
      # Secondary Channel
      - FREQ_2
      - ZELLO_CHANNEL_2
    # ... (labels and healthchecks)

  # Service for the First Frequency
  zellostream_1:
    build:
      context: .
      dockerfile: zellostream/Dockerfile
    restart: unless-stopped
    depends_on:
      - trunk-recorder
    network_mode: host
    environment:
      - ZELLO_USERNAME
      - ZELLO_PASSWORD
      - ZELLO_CHANNEL=${ZELLO_CHANNEL_1}
      - UDP_PORT=9123 # Unique port for first stream
      - AUDIO_THRESHOLD
      - SILENCE_SETTING

  # Service for the Second Frequency
  zellostream_2:
    build:
      context: .
      dockerfile: zellostream/Dockerfile
    restart: unless-stopped
    depends_on:
      - trunk-recorder
    network_mode: host
    environment:
      - ZELLO_USERNAME
      - ZELLO_PASSWORD
      - ZELLO_CHANNEL=${ZELLO_CHANNEL_2}
      - UDP_PORT=9124 # Unique port for second stream
      - AUDIO_THRESHOLD
      - SILENCE_SETTING

volumes:
  data:
