name: Build and Push Images
on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push trunk-recorder
        uses: docker/build-push-action@v6
        with:
          context: ./trunk-recorder
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/trunk-recorder:main

      - name: Build & push zellostream
        uses: docker/build-push-action@v6
        with:
          context: ./zellostream
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/zellostream:main